.header {
    margin: auto;
    padding: 4em;
    max-width: 820px;
}

.card {
  text-align: center;
  background-color: #000000;
  max-width: 250px;
  display: inline-block;
  margin: 0.1em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

img.profilePic {
    width: 80%;
    border-radius: 50%;
    border: 5px solid white;
    margin: 1em
}

#headerLeft img, #headerRight img {
    border: 5px solid gray;
}

div.cardProfile {
    background-color: white;
    color: black;
    padding: 0.05em;
}

.block {
    background-color: black;
    height: 1.5em;
}

.title {
    color: rgb(87, 84, 84);
}

.loaded {
    opacity: 1!important;
}

.linebreak {
    width: 100%;
    border: 2px solid gray;
}

.empty {
    opacity: 0;
}